{% extends 'default/admin.html.twig' %}

{% block title %}
    Symfony Shop
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="../../css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/bootstrap.css"/>
{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    Attributes
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-3">
            <div class="metrics text-muted" href="#map1">
                <h2>
                    <a href="/new">
                        Add Attribute
                    </a>
                </h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="metrics text-muted" href="#map1">
                <h2>
                    <a href="/new">
                        Delete ALL Attributes
                    </a>
                </h2>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        {% for attribute in attributes %}
            <div class="col-sm-3">
                <div class="metrics text-muted" href="#map1">
                    <h2>
                        <a href="{{ path('b_pashkevich_catalog_admin_attribute_edit', { 'id': attribute.id }) }}">
                            {{ attribute.name }}
                        </a>
                    </h2>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
