{% extends 'default/admin.html.twig' %}

{% block title %}
    Symfony Shop
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="../../css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/bootstrap.css"/>
{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    Users
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-3">
            <div class="metrics text-muted" href="#map1">
                <h2>
                    <a href="/new">
                        Add User
                    </a>
                </h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="metrics text-muted" href="#map1">
                <h2>
                    <a href="/deleteALL">
                        Delete ALL Users
                    </a>
                </h2>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        {% for usr in users %}
            <div class="col-sm-3">
                <div class="metrics text-muted" href="#map1">
                    <h2>
                        <a href="{{ path('b_pashkevich_catalog_admin_user_edit', { 'id': usr.id }) }}">
                                {{ usr.name }}
                        </a>
                    </h2>
                    <div class="description">
                        {{ usr.email }}<br>
                        {{ usr.number }} $
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
